DATABASE_URL=postgresql://neondb_owner:npg_uQ8ZVl5DnUTX@ep-round-silence-a1lw2qse-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_uQ8ZVl5DnUTX@ep-round-silence-a1lw2qse.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NEXT_PUBLIC_APP_URL=https://trade-flow-8ztf7zk3l-theos-projects-df0c0aef.vercel.app/
AUTH_SECRET=Mix3zYCZMo79MfZX6hxp20jmUkBGU1PIxGGVdtzqdrgPj2IUG4hC1R0if8NuOoqc
